<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@attach(title)</title>
    <meta name="description" content="@attach(desc)">
    <meta property="og:title" content="@attach(title)">
    <meta property="og:description" content="@attach(desc)">
    <meta property="og:image" content="@attach(thumbnail, https://avatars.githubusercontent.com/u/22825536?v=4)">
    <meta property="og:image:alt" content="@attach(alt, GitHub Profile Picture)">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="@attach(title)">
    <meta name="twitter:description" content="@attach(desc)">
    <meta name="twitter:image" content="@attach(thumbnail, https://avatars.githubusercontent.com/u/22825536?v=4)">
    <meta name="twitter:image:alt" content="@attach(alt, GitHub Profile Picture)">

    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>
    @import(header)

    @attach(content)

    @import(footer)

    @import(script)
</body>

</html>