{{ layout "layout.vto" }}
    {{ content }}
    {{ set projects = search.pages("type=project", "weight") }}
    <h2>Freelance</h2>
    <section class="row">
        {{ for post of projects.filter(post => ["freelance", "p1", "speakflow"].includes(post.org_id || post.org)) }}
            {{ include "layouts/website/components/project_card.vto" {...post} }}
        {{ /for }}
    </section>
    
    <h2>Personal Projects</h2>
    <section class="row">
        {{ for post of projects.filter(post => (post.org_id || post.org) === "personal") }}
            {{ include "layouts/website/components/project_card.vto" {...post} }}
        {{ /for }}
    </section>

    <hgroup>
        <h2>Coding Minds:</h2>
        <p>Below are projects I have done during my time at <a href="https://codingmindsacademy.com/">Coding Minds Academy</a>.</p>
    </hgroup>
    <section class="row">
        {{ for post of projects.filter(post => (post.org_id || post.org) === "coding-minds") }}
            {{ include "layouts/website/components/project_card.vto" {...post} }}
        {{ /for }}
    </section>

    {{ if mentored }}
        <hgroup>
            <h3>Mentored:</h3>
            <p>Student projects I have helped mentor, primarily done in Unity. My main contribution was providing students with the knowledge they need to design, implement, and publish their game idea.</p>
        </hgroup>
        <section class="row">
        {{ for projects of mentored.student_project }}
            {{ include "layouts/website/components/project_card.vto" {...projects, title: projects.name, project_link: projects.link, url: false} }}
        {{ /for }}
        </section>
    {{ /if }}
    
    {{ if curriculum_templates }}
        <hgroup>
            <h3>Curriculum Templates:</h3>
            <p>Template projects I have made to help with Unity curriculum</p>
        </hgroup>
        <ul>
            {{ for template of curriculum_templates.unity_templates }}
                <li><a href="{{template.link}}">{{template.name}}</a>: {{template.summary}}
                </li>
            {{ /for }}
        </ul>
    {{ /if }}

    <hgroup>
        <h2>School Projects</h2>
        <p>Projects I have worked on for school. This includes my undergraduate work at University of California: Irvine (UCI) and graduate work at University of Illinois Urbana-Champaign (UIUC)</p>
    </hgroup>
    <section class="row">
        {{ for post of projects.filter(post => ["uci", "uiuc"].includes(post.org_id || post.org)) }}
            {{ include "layouts/website/components/project_card.vto" {...post} }}
        {{ /for }}
    </section>

    {{ set other_projects = projects.filter(post => !["personal", "freelance", "p1", "speakflow", "coding-minds", "uci", "uiuc"].includes(post.org_id || post.org)) }}
    {{ if other_projects.length > 0 }}
        <h2>Other Projects</h2>
        <section class="row">
            {{ for post of other_projects }}
                {{ include "layouts/website/components/project_card.vto" {...post} }}
            {{ /for }}
        </section>
    {{ /if }}
{{ /layout }}
