<footer class="hide-pr text-center">
    <p><a href="#top">Back to Top</a></p>
    <p>Made with <a href="https://lume.land">Lume</a> and styling with <a
            href="https://jenil.github.io/chota/">Chota</a> and <a href="https://jam-icons.com/">Jam Icons</a></p>
    <p>Copyright © 2023 {{author}}. All rights reserved.</p>
</footer>