<h2>Portfolio Highlights</h2>
<p>Here are some projects I have worked on:</p>
<section class="row">
    {{ set ignore_row_div = true }}
    {{ for post of search.pages("on_home_page=true", "weight") }}
        {{ include "project_card.vto" {...post}}}
    {{ /for }}
    <div class="col-12"></div>
</section>
<p>More projects can be found on my <a href="project">projects page</a>.</p>