<article class="col card">
    <a href="{{project_link}}">
        <h3 class="is-center">{{title}}</h3>
        <img src="{{image}}" alt="{{alt}}" class="is-center" />
    </a>
    <p>{{summary}}</p>
    <p><a href="{{permalink}}">Learn More...</a></p>
</article>