<hgroup>
    <h1>{{title}}</h1>
    {{ if project_link }}
        <p>Link: <a href="{{project_link}}">{{project_link}}</a></p>
    {{ /if }}
    {{ if summary }}
        <p>{{summary}}</p>    
    {{ /if }}
</hgroup>