extends resume_layout.pug

block content
    include ./components/headline
    include ./components/summary
    hr
    include ./components/experience
    hr
    include ./components/education
    hr
    include ./components/skills_list

