extends resume_layout.pug

block content
    .bg-emerald-0
        include ./components/headline
        include ./components/summary
    hr.border-2.border-emerald-200
    include ./components/experience
    hr.border-2.border-emerald-200
    include ./components/education
    hr.border-2.border-emerald-200
    include ./components/skills_list

