extends resume_layout.pug

block content
    include ./components/headline
    hr
    include ./components/summary
    hr
    include ./components/skills_list
    hr
    include ./components/education
    hr
    include ./components/experience

