<!DOCTYPE html>
<html lang="{{lang || 'en'}}">
{{ include "../../head.vto" }}
<body class="">
  <main id="content" class="is-full-screen container" role="main">
    {{ content }}
  </main>
</body>
</html>