extends resume_layout.pug


block content
    div(class=`bg-${headlineColor}`)
        include ./components/headline
        hr.border-1.my-1.border-emerald-300
        include ./components/summary
    hr.border-2.border-emerald-200
    include ./components/experience
    hr.border-2.border-emerald-200
    include ./components/education
    hr.border-2.border-emerald-200
    include ./components/skills_list

