doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex,nofollow")
    script(src="https://cdn.tailwindcss.com")
    link(rel="stylesheet", href=`${assets}/print_helper.css`)
    meta(name="author" content=general.headline.name)
    meta(name="description" content=description||"Resume")
    link(rel="preconnect" href="https://fonts.bunny.net")
    link(href="https://fonts.bunny.net/css?family=lato:400,400i,700" rel="stylesheet")
    //- meta(name="keywords" content="HTML, CSS, JavaScript")
    title=general.headline.name.replaceAll(/\.|\s+/g, '')+"-"+title
  body(style="font-family: 'Lato', 'Open Sans';")
    main#content
      //- Style variables
      - let headlineColor = style?.color?.background ?? "gray-0"
      - let lightBorder = style?.color?.border.light ?? "gray-0"
      - let darkBorder = style?.color?.border.dark ?? "gray-0"
      - let barSize = style?.barWidth ?? 1
      - let includeGPA = style?.includeGPA ?? false
      - let skillsSize = style?.skillsSize ?? "sm"
      - let includeMonth = style?.includeMonth ?? false
      block content
  