<!DOCTYPE HTML>
<html lang="{{#site}}{{lang}}{{/site}}">

{{>head.html}}

<body class="">
    {{>header.html}}
    <main id="content" class="is-full-screen container" role="main">
        <hgroup>
            <h1>{{title}}</h1>
            <p>Link: <a href="{{project_link}}">{{project_link}}</a></p>
            <p>{{{summary}}}</p>
        </hgroup>
        <section class="row">
            {{#image}}
            <figure class="card col-3 no-border">
                <img src="{{image}}" alt="{{alt}}">
                {{#caption}}
                <figcaption>{{caption}}</figcaption>
                {{/caption}}
            </figure>
            {{/image}}
            {{#pictures}}
            <figure class="card col no-border">
                <img src="{{permalink}}" alt="{{alt}}">
                <figcaption>{{caption}}</figcaption>
            </figure>
            {{/pictures}}
        </section>
        {{content}}
    </main>
    {{>footer.html}}
</body>