<!DOCTYPE HTML>
<html lang="{{#site}}{{lang}}{{/site}}">

{{>head.html}}

<body class="">
    {{>header.html}}
    <main id="content" class="is-full-screen container" role="main">
        <hgroup>
            <h1>{{title}}</h1>
            <p>{{{summary}}}</p>
        </hgroup>
        {{content}}
        <section class="row">
            {{#student_project}}
            {{#start_new_row}}
            <div class="divider col-12"></div>
            {{/start_new_row}}
            <article class="col card">
                <a href="{{link}}">
                    <h4>{{name}}</h4>
                    <img src="{{image}}" alt="alt">
                </a>
                <p>{{{summary}}}</p>
            </article>
            {{/student_project}}
        </section>
    </main>
    {{>footer.html}}
</body>